.navbar {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #ebe1e1fb;
  border-radius: 1px solid #dee2e6;
}

.navbar-center, .navbar-left, .navbar-right {
  display: flex;
  align-items: center;
}
.menu-icon, .delte-icon .Save-Changes{
  background: none;
  border: none;
  cursor: pointer;
}
.menu-icon img, .delte-icon img {
  width: 24px;
  height: 24px;
}
.logo {
  height: 40px;
  margin-left: 1rem;
}
.document-icon {
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;
}
.document-name {
  font-size: 1rem;
  font-weight: bold;
}
.Save-Changes {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  background-color: #f26508;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}
.Save-Changes:hover {
  background-color: #f1a431;
}
